@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.example-container {
    height: 400px;
    overflow: auto;
  }
table {
    width: 100%;
  }
.noRecords{
	text-align: center;
	font-size: 20px;
	color: #000;
}
.example-form-field {
  width: 200px;
}

.example-full-width {
  width: 40%;
}
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 25px;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

i:hover {
  //background-color: red;
  font-size: xx-large;
  font-family: Arial, Helvetica, sans-serif;
  color: red;
  outline-color : aqua;
}

.titleWrap{
	font-size:22px;
	color:#666666;
	margin:10px 0;
	border-bottom: 2px solid #c1c1c1;    
}
