<nb-actions size="large">
        <nb-action icon="ion-arrow-left-c"  (click)="Back()"></nb-action>
    </nb-actions>
<div class="row">
    <div class="col-md-12">
          <nb-card size="large"  status="success" [nbSpinner]="loading">
                <nb-card-header>
                Your search results <span style="float:right;">Total : {{courseCount}}</span>
                <input class="form-control" type="text" [value]="filterText"
                [placeholder]="filterPlaceholder" [formControl]="filterInput" />
            </nb-card-header>
            <nb-list>
                    <nb-list-item *ngFor="let course of courses | filter:{college_name: filterText}" style="padding: 2rem">
                    <div class="row">
                        <div class="col-lg-3" colListPad>
                            <img class="img-responsive" style= "width: 100px;" src="{{course.logo}}"/> 
                        </div>
                        <div class="col-lg-7">
                            <h3> {{ course?.specialization }} </h3> <br>Degree : {{ course?.degree }}<br><br>College : {{ course?.college_name }}<br>
                        </div>
                        <div class="col-lg-2">
                                <a (click)="CourseList(course.id,course.specialization)" class="btn btn-primary">View More</a>                           </div>
                        </div>
                </nb-list-item> 
        </nb-list>
        </nb-card>
    </div>
</div>  