@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.example-container {
    height: 400px;
    overflow: auto;
  }
table {
    width: 100%;
  }
.noRecords{
	text-align: center;
	font-size: 20px;
	color: #000;
}
.example-form-field {
  width: 200px;
}

.example-full-width {
  width: 40%;
}
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 25px;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

i:hover {
  //background-color: red;
  font-size: xx-large;
  font-family: Arial, Helvetica, sans-serif;
  color: green;
  outline-color : aqua;
}

.noRecords{
	text-align: center;
	font-size: 14px;
	color: #000;
}

.userDetailsRow{
	border-bottom: 1px solid #c1c1c1;
	color: #000;
	font-size: 12px;
	padding: 12px 0;
}
.wordWrap{
	word-break: keep-all;
	word-wrap:break-word;
}

.noPadding{
	padding:0 !important;
}

.text-center{
	text-align: center;
	text-align: -moz-center;
	text-align: -webkit-center;
}
.modal-header{
	border-bottom: none;
}

.popupTitle{
	color: #5c5c5c;
	font-size: 22px;
	text-align: center;
}

.closeBtn{
	font-size: 12px;
	color: #000;
	font-weight: lighter;
	opacity: 1;
}

.titleWrap{
	font-size:22px;
	color:#666666;
	margin:10px 0;
	border-bottom: 2px solid #c1c1c1;    
}

.text{
	text-align: center
}

.widthCol06{
	float: left;
	width: 6%;
	padding: 13px 13px 20px 8px;
	min-height: 1px;
	position: relative;
}

.widthCol10{
	float: left;
	width: 10%;
	padding: 13px 13px 20px 8px;
	min-height: 1px;
	position: relative;
}

.widthCol08{
	float: left;
	width: 8%;
	padding: 13px 13px 20px 8px;
	min-height: 1px;
	position: relative;
}

.widthCol12{
	float: left;
	width: 12%;
	padding: 13px 13px 20px 8px;
	min-height: 1px;
	position: relative;
}

.cStnd{
	font-size: 14px;
	font-weight: 900;
}

.allDetails{
	font-size:12px;
	color:#000;
	padding-top: 9px;
	padding-bottom: 9px;
	font-family: 'lato-Regular';
	word-wrap: break-word; 
}