.titleWrap{
	font-size:22px;
	color:#666666;
	margin:10px 0;
	border-bottom: 2px solid #c1c1c1;    
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 50%;
  }

  i:hover {
    //background-color: red;
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;
    color: red;
    outline-color : aqua;
  }

  .fa {
  
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 20px;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }