<div class="row">
    <div class="col-md-12">
      <nb-card status="success" [nbSpinner]="loading">
        <nb-card-header>
          <h1>Search</h1>
        </nb-card-header>
        <nb-card-body>
          <div class="row">
            <!-- <div class="col-md-2"> </div> -->
            <div class="col-md-12" style="margin-top:5px;">
              <form class="example-form">
                <input type="text" name="search_college_course" [(ngModel)]="search_college_course" nbInput fullWidth
                  class="input-full-width input-md input-round" shape="round" placeholder="Search College or Course or Pincode"
                  style="width:100%;" />
                  <span *ngIf ="alertFlag == 1" style="color:red;">The value should be Numeric</span>
              </form>
            </div>
          </div> 
          <br>
          <br>
          <div class="row">
            <div class="col-md-2"></div>
            <div style="margin-top:5px;" class="col-md-3">
              <button (click)="startSearch()" nbButton status="info" class="col-md-12 col-sm-12 col-xs-12">Search By College</button>
            </div>
            <div style="margin-top:5px;" class="col-md-3">
              <button (click)="courseSearch()" nbButton status="info" class="col-md-12 col-sm-12 col-xs-12">Search By Course</button>
            </div>
            <div style="margin-top:5px;" class="col-md-3">
              <button (click)="searchCollege()" nbButton status="info" class="col-md-12 col-sm-12 col-xs-12">Search By Postal Code</button>
            </div>
          </div> 
  
          <br>
          <br>
  
          <div class="row" *ngIf="collegeFlag==true || courseFlag==true">
            <div class="col-md-4 offset-md-4">
              <div class="row">
                <div class="offset-md-5 offset-sm-5 offset-xs-5"></div>
                <div class="col-md-3 col-sm-2 col-xs-2">
                  <div class="col-xs-5"></div>
                  <h1 style=" visibility: visible;" class="col-xs-2"><b>OR</b></h1>
                  <div class="col-xs-5"></div>
                </div>
                <div class="offset-md-4 offset-sm-5 offset-xs-5"></div>
              </div>
              <div class="row">
                <div class="col-md-8 offset-md-2">
                  <button (click)="openQuickApply()" nbButton outline status="success" class="btn-success btn-outline col-md-12 col-sm-12 col-xs-12">Quick
                    Apply</button>
                </div>
  
              </div>
            </div>
          </div>
          
          <br>
          <br>
  
          <div class="row">
            <div class="col-md-12">
              <nb-card size="large">
                <div *ngIf="collegeFlag==false && courseFlag==false">
                  <h1 style="text-align: center; visibility: visible;"><b>OR</b></h1>
                </div>
                <div class="col-xs-12" *ngIf="collegeFlag==false && courseFlag==false">
                  <div class="col-md-12" style="padding-top: 10%;">
                    <nb-card status="success">
                      <nb-card-header style="text-align: center;"><b>Quick Apply</b></nb-card-header>
                      <nb-card-body>
                        <nb-alert status="danger" closable (close)="onClose()" *ngIf="Dropdown == 2">
                          Please Select Course and Specialization!!!
                        </nb-alert>
                        <form [formGroup]="searchForm">
                          <div class="row">
                            <mat-form-field class="col-xl-6">
                              <mat-select placeholder="Select Course" [(ngModel)]="d" name="d" formControlName="courseCtrl"
                                (ngModelChange)="getspecialization($event)">
                                <mat-option *ngFor="let d of searchCourses" [value]="d.name">
                                  {{d.name}}
                                </mat-option>
                              </mat-select>
                            </mat-form-field>
                            <mat-form-field class="col-xl-6">
                              <mat-select placeholder="Select Specialization" [(ngModel)]="spec" name="spec"
                                formControlName="specializationCtrl">
                                <mat-option *ngFor="let spec of searchSpecialization" [value]="spec.name">
                                  {{spec.name}}
                                </mat-option>
                              </mat-select>
                            </mat-form-field>
                          </div>
                        </form>
                      </nb-card-body>
                      <nb-card-footer>
                        <div class="row">
                          <div class="offset-lg-4"></div><button nbButton status="info" (click)="onApply()" class="col-lg-4">Apply</button>
                        </div>
                      </nb-card-footer>
                    </nb-card>
                  </div>
                </div>
                <nb-card-header *ngIf="collegeFlag==true">
                  <div *ngIf="collegeCount > 0">
                    {{Result_title}} search results <span style="float:right;">Total : {{collegeCount}}</span>
                  </div>
                  <div *ngIf="collegeCount == 0">
                    <h3 style="text-align: center;">No Result Found</h3>
                  </div>
                </nb-card-header>
                <nb-card-header *ngIf="courseFlag==true">
                  <div *ngIf="courseCount > 0">
                    {{Result_title}} search results <span style="float:right;">Total : {{courseCount}}</span>
                    <input class="form-control" type="text" [value]="filterText" [placeholder]="filterPlaceholder"
                      [formControl]="filterInput" />
                  </div>
                  <div *ngIf="courseCount == 0">
                    <h3 style="text-align: center;">No Result Found</h3>
                  </div>
                </nb-card-header>
                <nb-list *ngIf="collegeFlag==true">
                  <nb-list-item *ngFor="let college of colleges | paginate: { itemsPerPage: 10, currentPage: p }" style="padding: 2rem">
                    <div class="row">
  
                      <div class="col-lg-3" colListPad>
                        <img class="img-responsive" style="width: 100px;" src="{{college.logo}}" />
                      </div>
                      <div class="col-lg-7">
                        <h3> {{ college.name }} </h3> <br>Address : {{ college.location }}<br>
                      </div>
                      <div class="col-lg-2">
                        <a (click)="collegeList(college.id)" class="btn btn-primary">View More</a>
                      </div>
  
                    </div>
  
                  </nb-list-item>
                </nb-list>
                <nb-list *ngIf="courseFlag==true">
                  <nb-list-item *ngFor="let course of courses  | filter:{college_name: filterText}" style="padding: 2rem">
                    <div class="row">
                      <div class="col-lg-2" colListPad>
                        <img class="img-responsive" style="width: 100px;" src="{{course.logo}}" />
                      </div>
                      <div class="col-lg-6">
                        <h3> College : {{ course?.college_name }} </h3> <br> Address : {{ course?.location }} <br><br>Degree
                        : {{ course?.degree }}<br><br> {{ course?.specialization }} <br>
                      </div>
                      <div class="col-lg-2 col-md-6 col-sm-6">
                        <a status="info" (click)="redirectToPeers(course.college_id);" style="margin-top: 5px;" class="btn btn-primary"
                          tabindex="0"> <a class="ion ion-ios-telephone" style="color:white;"></a> Peers </a>
                      </div>
                      <br>
                      <div class="col-lg-2 col-md-6 col-sm-6">
  
                        <!-- <a  class="btn-success"><nb-action  icon="ion-ios-telephone" style="font-size: 30px;"></nb-action> Contact</a>     -->
                        <a (click)="CourseList(course.id,course.specialization)" style="color:white; margin-top: 5px"
                          class="btn btn-primary">View More</a>
                      </div>
                    </div>
  
                  </nb-list-item>
                </nb-list>
                <pagination-controls *ngIf="collegeFlag==true" (pageChange)="p = $event"></pagination-controls>
              </nb-card>
            </div>
          </div>
        </nb-card-body>
      </nb-card>
    </div>
  </div>
  