<nb-card >
        <nb-card-header id="header">Verify Otp Here </nb-card-header>
        <nb-card-body>
          <div class="row">
               <input pattern="[0-9]+" [(ngModel)]="otp" id="otp" style="visibility: visible;" nbInput type="text" placeholder="Enter OTP Here"  keyup.enter="verify()" class="form-control" autocomplete="shipping postal-code" required> 
               <span *ngIf="otpValidation===false" style="color:red;">Please enter OTP</span> 
               <span *ngIf="otpSent===false" style="color:red;">Please check your mobile for the OTP</span> 
          </div>         
          <div *ngIf="alert == 200">
          <h2>Otp Verified Successfully.</h2>	  
          </div>
          <div *ngIf="alert == 400">
              <h3 style="color:red;">Please Enter Valid OTP.</h3>
          </div>  
          <span></span>
        </nb-card-body>
        <nb-card-footer>
        <div class="row" *ngIf="resend_input===false" >
            <int-phone-prefix [(ngModel)]="mobile"></int-phone-prefix>
        </div> 
        <span *ngIf="resend_input_validation===false && resend_input===false" style="color:red;">{{ update_phone_message }}</span>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-3"></div>
            <div class="col-md-3"></div>
            <div class="col-md-3">
                <a  style="cursor:pointer;color: #034c83;" (click)="resend_input_open()"  >Resend SMS</a>
            </div>
        </div>
       <div class="row">
            <div class="col-lg-6"><button nbButton *ngIf="resend_input===false" (click)="update_number_otp()" hero status="primary" id="resend" style="visibility: visible;margin-top:10px;" >Update & Send</button></div>
        </div>
        <div class="row">
            <div class="col-lg-3"><button nbButton hero status="primary" id="verify" style="visibility: visible;" (click)="verify()" >Verify</button></div>
            <div class="col-lg-3"><button nbButton hero status="primary" *ngIf="alert == 200" (click)="ok()" >ok</button></div>
        </div>
        </nb-card-footer>
    </nb-card>