<nb-card>
	<nb-card-body>
		<div class="titleWrap">
			<label>Dashboard</label>
		</div>
		<p-tabView (onChange)="tab($event)">
			<p-tabPanel header="Profile" [selected]="i == 0">
				<h5><b>Student Profile Completeness</b></h5>
				<div class="row">						
					<div class="col-lg-3 ">
						<mat-form-field>
							<mat-select placeholder="select Year"[(ngModel)]="selectedYear" name="selectedYear" id="yearCtrl"  (ngModelChange)="filterYear('new',$event)" >
								<mat-option value="2017">2017-2018</mat-option>
								<mat-option value="2018">2018-2019</mat-option>
								<mat-option value="2019">2019-2020</mat-option>
							</mat-select>
						</mat-form-field>
					</div>
				</div>
				<div class="text">
					<h5>Total Student:{{Count}}</h5>
				</div>
				
        		<p-chart type="bar" [data]="data"></p-chart>
				
			</p-tabPanel>
			<p-tabPanel header="Total Admissions" [selected]="i == 1">
				<h5><b>Latest Admissions</b></h5>
				<p-chart  class="titleWrap" type="pie" width="300" height="300" [data]="pie"></p-chart>
				<div class="row">
					<div class="col-md-12 ">
						<mat-form-field class="example-full-width">
							<input matInput  type="text" [value]="filterText"
							[placeholder]="filterPlaceholder" [formControl]="filterInput" />
							<button mat-button *ngIf="filterText" matSuffix mat-icon-button aria-label="Clear" (click)="filterText=''">
								<mat-icon>close</mat-icon>
							</button>
						</mat-form-field>
					</div>
				</div>
				<div class="wrapper" *ngIf="show == true">
					<h5><b>Total Count:</b></h5>{{Total_data?.length}}
					<div class="Rtable Rtable--5cols Rtable--collapse">
						<div class="Rtable-row Rtable-row--head">
							<div class="Rtable-cell info-cell  column-heading">Application ID</div>
							<div class="Rtable-cell info-cell  column-heading">Application No</div>
							<div class="Rtable-cell info-cell  column-heading">Category</div>
							<div class="Rtable-cell info-cell  column-heading">Country Name</div>
							<div class="Rtable-cell info-cell  column-heading">Student Name</div>
							<div class="Rtable-cell info-cell  column-heading">Selected Course</div>
							<div class="Rtable-cell info-cell  column-heading">Passport No.</div>
							<div class="Rtable-cell info-cell  column-heading">Action</div>
							<div class="Rtable-cell info-cell  column-heading">Provisional Eligibility Form</div>
							<div class="Rtable-cell info-cell  column-heading">Application Form</div>
							<div class="Rtable-cell info-cell  column-heading">Application Form with Preferences</div>
						</div>
						
						<div class="Rtable-row is-striped" *ngFor="let application of Total_data | filter:{country_name:filterText,course:filterText,specialization:filterText,passport_no:filterText,student_category:filterText,date:filterText,enrollment_no:filterText,payment_mode:filterText,stu_name: filterText} | paginate: { itemsPerPage: 10, currentPage: p }  ">
							<div class="Rtable-cell info-cell">
								<div class="Rtable-cell--heading">Application ID</div>
								<div class="Rtable-cell--content date-content">{{application.id}}</div>
							</div>
							<div class="Rtable-cell info-cell">
								<div class="Rtable-cell--heading">Application No</div>
								<div class="Rtable-cell--content date-content">{{application.enrollment_no}}</div>
							</div>
							<div class="Rtable-cell info-cell">
								<div class="Rtable-cell--heading">Category</div>
								<div class="Rtable-cell--content date-content">{{application.student_category}}</div>
							</div>
							<div class="Rtable-cell info-cell">
								<div class="Rtable-cell--heading">Country Name</div>
								<div class="Rtable-cell--content date-content">{{application.country_name}}</div>
							</div>
							<div class="Rtable-cell info-cell">
								<div class="Rtable-cell--heading">Student Name</div>
								<div class="Rtable-cell--content date-content">{{application.stu_name}}</div>
							</div>
							<div class="Rtable-cell info-cell">
								<div class="Rtable-cell--heading">Selected Course</div>
								<div class="Rtable-cell--content date-content">{{application.specialization}}<br>({{application.course}})</div>
							</div>
							<div class="Rtable-cell info-cell">
								<div class="Rtable-cell--heading">Passport No.</div>
								<div class="Rtable-cell--content date-content">{{application.passport_no}}</div>
							</div>
							<div class="Rtable-cell info-cell">
								<div class="Rtable-cell--heading">Action</div>
								<div class="Rtable-cell--content date-content">
									<button nbButton status="info" size="xsmall"  outline shape="semi-round" (click)="viewMore('application',application.user_id,application.course_id,'accept',application.id);">
										View
									</button>
								</div>
							</div>
							<div class="Rtable-cell info-cell">
								<div class="Rtable-cell--heading">Provisional Eligibility Form</div>
								<div class="Rtable-cell--content date-content">
									<button nbButton size="xsmall" outline  status="info" >
										<a href="{{serverUrl}}/upload/transcript/{{application?.user_id}}/{{application?.id}}_Confirmation_provisional_Letter.pdf">
											Download
										</a>
									</button>
								</div>
							</div>
							<div class="Rtable-cell info-cell">
								<div class="Rtable-cell--heading">Application Form</div>
								<div class="Rtable-cell--content date-content">
									<button nbButton size="xsmall" outline  status="info" (click)="preview(application.user_id,application.course_id,application.id)">
										<a id='prevLet{{application?.id}}'>
											Download
										</a>
									</button>
								</div>
							</div>
							<div class="Rtable-cell info-cell">
								<div class="Rtable-cell--heading">Application Form with Preferences</div>
								<div class="Rtable-cell--content date-content">
									<button nbButton size="xsmall" outline  status="info" (click)="preview_data_with_Preferences(application.user_id,application.course_id,application.id)">
										<a id='prevLetPref{{application?.id}}'>
											Download
										</a>
									</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			<pagination-controls (pageChange)="p = $event"></pagination-controls>			
			</p-tabPanel>		
			<p-tabPanel header="Open Tickets" [selected]="i == 2">
				<h5><b>Open Tickets</b></h5>
				<div class="row">
					<div class="col-md-12 ">
						<mat-form-field class="example-full-width">
							<input matInput  type="text" [value]="filterText"
							[placeholder]="filterPlaceholder" [formControl]="filterInput" />
							<button mat-button *ngIf="filterText" matSuffix mat-icon-button aria-label="Clear" (click)="filterText=''">
								<mat-icon>close</mat-icon>
							</button>
						</mat-form-field>
					</div>
				</div>
				<div class="wrapper" *ngIf="show == true">
					<h5><b>Total Count:</b></h5>{{ticketsData?.length}}
					<div class="Rtable Rtable--5cols Rtable--collapse">
						<div class="Rtable-row Rtable-row--head">
							<div class="Rtable-cell info-cell column-heading">Ticket ID</div>
							<div class="Rtable-cell date-cell column-heading">Subject</div>
							<div class="Rtable-cell topic-cell column-heading">User</div>
							<div class="Rtable-cell date-cell column-heading">Date</div>
						</div>
						
						<div class="Rtable-row is-striped" *ngFor="let ticket of ticketsData | filter:{user:filterText} | paginate: { itemsPerPage: 10, currentPage: p }">
							<div class="Rtable-cell info-cell" (click)="openTicket(ticket.id);">
								<div class="Rtable-cell--heading">Ticket ID</div>
								<div class="Rtable-cell--content date-content">#{{ticket.id}}</div>
							</div>
							<div class="Rtable-cell date-cell" (click)="openTicket(ticket.id);">
								<div class="Rtable-cell--heading">Subject</div>
								<div class="Rtable-cell--content date-content">{{ticket.subject}}</div>
							</div>
							<div class="Rtable-cell topic-cell" (click)="openTicket(ticket.id);">
								<div class="Rtable-cell--content title-content">{{ticket.user}}</div>
							</div>
							<div class="Rtable-cell date-cell" (click)="openTicket(ticket.id);">
								<div class="Rtable-cell--heading">Date</div>
								<div class="Rtable-cell--content date-content">{{ticket.date}}</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row" *ngIf="show == false">
					<div class="col-md-4">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
					<div class="col-md-4" style="color:red;font-weight: bold;" >
						No Open Tickets Available
					</div>
					<div class="col-md-4">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
				</div>
			<pagination-controls (pageChange)="openTicketpageChanged($event)" *ngIf="show == true"></pagination-controls>			
			</p-tabPanel>
			<p-tabPanel header="New Tickets" [selected]="i == 3">
				<h5><b>New Tickets</b></h5>
				<div class="row">
					<div class="col-md-12 ">
						<mat-form-field class="example-full-width">
							<input matInput  type="text" [value]="filterText"
							[placeholder]="filterPlaceholder" [formControl]="filterInput" />
							<button mat-button *ngIf="filterText" matSuffix mat-icon-button aria-label="Clear" (click)="filterText=''">
								<mat-icon>close</mat-icon>
							</button>
						</mat-form-field>
					</div>
				</div>
				<div class="wrapper" *ngIf="show == true">
					<h5><b>Total Count:</b></h5>{{ticketsData?.length}}
					<div class="Rtable Rtable--5cols Rtable--collapse">
						<div class="Rtable-row Rtable-row--head">
							<div class="Rtable-cell info-cell column-heading">Ticket ID</div>
							<div class="Rtable-cell date-cell column-heading">Subject</div>
							<div class="Rtable-cell topic-cell column-heading">User</div>
							<div class="Rtable-cell date-cell column-heading">Date</div>
						</div>
						
						<div class="Rtable-row is-striped" *ngFor="let ticket of ticketsData | filter:{user:filterText} | paginate: { itemsPerPage: 10, currentPage: p }" style="font-weight: bold;">
							<div class="Rtable-cell info-cell" (click)="openTicket(ticket.id);">
								<div class="Rtable-cell--heading">Ticket ID</div>
								<div class="Rtable-cell--content date-content">#{{ticket.id}}</div>
							</div>
							<div class="Rtable-cell date-cell" (click)="openTicket(ticket.id);">
								<div class="Rtable-cell--heading">Subject</div>
								<div class="Rtable-cell--content date-content">{{ticket.subject}}</div>
							</div>
							<div class="Rtable-cell topic-cell" (click)="openTicket(ticket.id);">
								<div class="Rtable-cell--content title-content">{{ticket.user}}</div>
							</div>
							<div class="Rtable-cell date-cell" (click)="openTicket(ticket.id);">
								<div class="Rtable-cell--heading">Date</div>
								<div class="Rtable-cell--content date-content">{{ticket.date}}</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row" *ngIf="show == false">
					<div class="col-md-4">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
					<div class="col-md-4" style="color:red;font-weight: bold;">
						No New Tickets Available
					</div>
					<div class="col-md-4">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
				</div>
			<pagination-controls (pageChange)="newTicketpageChanged($event)" *ngIf="show == true"></pagination-controls>			
			</p-tabPanel>
			<p-tabPanel header="Closed Tickets" [selected]="i == 4">
				<h5><b>Closed Tickets</b></h5>
				<div class="row">
					<div class="col-md-12 ">
						<mat-form-field class="example-full-width">
							<input matInput  type="text" [value]="filterText"
							[placeholder]="filterPlaceholder" [formControl]="filterInput" />
							<button mat-button *ngIf="filterText" matSuffix mat-icon-button aria-label="Clear" (click)="filterText=''">
								<mat-icon>close</mat-icon>
							</button>
						</mat-form-field>
					</div>
				</div>
				<div class="wrapper" *ngIf="show == true">
					<h5><b>Total Count:</b></h5>{{ticketsData?.length}}
					<div class="Rtable Rtable--5cols Rtable--collapse">
						<div class="Rtable-row Rtable-row--head">
							<div class="Rtable-cell info-cell column-heading">Ticket ID</div>
							<div class="Rtable-cell date-cell column-heading">Subject</div>
							<div class="Rtable-cell topic-cell column-heading">User</div>
							<div class="Rtable-cell date-cell column-heading">Date</div>
						</div>
						
						<div class="Rtable-row is-striped" *ngFor="let ticket of ticketsData | filter:{user:filterText} | paginate: { itemsPerPage: 10, currentPage: p }">
							<div class="Rtable-cell info-cell" (click)="openTicket(ticket.id);">
								<div class="Rtable-cell--heading">Ticket ID</div>
								<div class="Rtable-cell--content date-content">#{{ticket.id}}</div>
							</div>
							<div class="Rtable-cell date-cell" (click)="openTicket(ticket.id);">
								<div class="Rtable-cell--heading">Subject</div>
								<div class="Rtable-cell--content date-content">{{ticket.subject}}</div>
							</div>
							<div class="Rtable-cell topic-cell" (click)="openTicket(ticket.id);">
								<div class="Rtable-cell--content title-content">{{ticket.user}}</div>
							</div>
							<div class="Rtable-cell date-cell" (click)="openTicket(ticket.id);">
								<div class="Rtable-cell--heading">Date</div>
								<div class="Rtable-cell--content date-content">{{ticket.date}}</div>
							</div>
						</div>
					</div>
				</div>
				<!-- <table class="table table-striped w-auto" *ngIf="show == true">
					<thead>
						<h5><b>Total Count:</b></h5>{{ticketsData?.length}}
						<tr>
							<th>Ticket ID</th>
							<th>Subject</th>
							<th>User</th>
							<th>Date</th>
						</tr>
					</thead>
					<tbody >
						<tr class="info" *ngFor="let ticket of ticketsData | filter:{user:filterText} | paginate: { itemsPerPage: 10, currentPage: p }" (click)="openTicket(ticket.id);">
							<td>#{{ticket.id}}</td>
							<td>{{ticket.subject}}</td>
							<td>{{ticket.user}}</td>
							<td>{{ticket.date}}</td>
						</tr>
					</tbody>	
									
				</table> -->
				<div class="row" *ngIf="show == false">
					<div class="col-md-4">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
					<div class="col-md-4" style="color:red;font-weight: bold;">
						No Closed Tickets Available
					</div>
					<div class="col-md-4">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
				</div>
			<pagination-controls (pageChange)="closeTicketpageChanged($event)" *ngIf="show == true"></pagination-controls>			
			</p-tabPanel>
			<p-tabPanel header="Email Tracker" [selected]="i == 5">
				<div [nbSpinner]="loadingbutton" nbSpinnerStatus="primary">
					<h5><b>Email Tracker</b></h5>
					<mat-form-field>
						<input matInput [matDatepicker]="picker" placeholder="Choose a month and year" [formControl]="date">
						<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
						<mat-datepicker #picker (monthSelected)="monthSelected($event)" startView="multi-year"></mat-datepicker>
					</mat-form-field>
					<p-chart  class="titleWrap" type="pie" width="300" height="300" [data]="email_pie" *ngIf = 'show_emailPie == 1'></p-chart>		
				</div>
			</p-tabPanel>
			<p-tabPanel header="SMS Tracker" [selected]="i == 6">
				<div [nbSpinner]="loadingbutton" nbSpinnerStatus="primary">
					<h5><b>SMS Tracker</b></h5>
					<br>
					<h5 style="color: red">Note :- Data last updated on {{ yesterday }}-{{ month }}-{{ year }}  11:59:59</h5>
					<mat-form-field>
						<input matInput [matDatepicker]="picker1" placeholder="Choose a month and year" [formControl]="date">
						<mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
						<mat-datepicker #picker1 (monthSelected)="monthSelectedSMS($event)" startView="multi-year"></mat-datepicker>
					</mat-form-field>
					<p-chart  class="titleWrap" type="pie" width="300" height="300" [data]="sms_pie" *ngIf = 'show_smsPie == 1'></p-chart>		
				</div>
			</p-tabPanel>
			<p-tabPanel header="Course Visits" [selected]="i == 7">
				<div [nbSpinner]="loadingbutton" nbSpinnerStatus="primary">
					<h5><b>Course Visits</b></h5>
					<br>
					<div class="row">
						<mat-form-field class="col-xl-6">
							<mat-select placeholder="Select Course" [(ngModel)]="courses" name="courses" (ngModelChange)="getspecialization($event)">
								<mat-option *ngFor="let courses of coursesList" [value]="courses.name">
									{{courses.name}}
								</mat-option>
							</mat-select>
						</mat-form-field>
						<mat-form-field class="col-xl-6">
							<mat-select placeholder="Select Specialization" [(ngModel)]="spec" name="spec" (ngModelChange)="getCourseVisits($event)">
								<mat-option *ngFor="let spec of specializationList" [value]="spec.name">
									{{spec.name}}
								</mat-option>
							</mat-select>
						</mat-form-field>
					</div>
				</div>
				<div [nbSpinner]="loading" nbSpinnerStatus="primary" *ngIf='showCount == 1'>
					<p-chart class="titleWrap" type="pie" width="300" height="300" [data]="course_pie"></p-chart>
					<div class="wrapper" *ngIf="show == true">
						<h5><b>Total Count:</b></h5>{{courseVisits?.length}}
						<div class="Rtable Rtable--5cols Rtable--collapse">
							<div class="Rtable-row Rtable-row--head">
								<div class="Rtable-cell info-cell column-heading">Name</div>
								<div class="Rtable-cell topic-cell column-heading">Email</div>
								<div class="Rtable-cell date-cell column-heading">Contact No</div>
								<div class="Rtable-cell date-cell column-heading">Specialization</div>
							</div>
							
							<div class="Rtable-row is-striped" *ngFor="let user of courseVisits | filter:{name:filterText,email:filterText,mobile:filterText,specialization:filterText} | paginate: { itemsPerPage: 10, currentPage: p }">
								<div class="Rtable-cell info-cell">
									<div class="Rtable-cell--heading">Name</div>
									<div class="Rtable-cell--content date-content">{{user.name}}</div>
								</div>
								<div class="Rtable-cell topic-cell">
									<div class="Rtable-cell--content title-content">{{user.email}}</div>
								</div>
								<div class="Rtable-cell date-cell">
									<div class="Rtable-cell--heading">Contact No</div>
									<div class="Rtable-cell--content date-content">+{{user.mobile_country_code}}{{user.mobile}}</div>
								</div>
								<div class="Rtable-cell date-cell">
									<div class="Rtable-cell--heading">Specialization</div>
									<div class="Rtable-cell--content date-content">{{user.specialization}}</div>
								</div>
							</div>
						</div>
					</div>
					<pagination-controls (pageChange)="p = $event"></pagination-controls>
				</div>
			</p-tabPanel>
			<p-tabPanel header="College Visits" [selected]="i == 8">
				<div [nbSpinner]="loadingbutton" nbSpinnerStatus="primary">
					<h5><b>College Visits</b></h5>
					<br>
					<div class="row">
						<mat-form-field class="col-xl-6">
							<mat-select placeholder="Select College" [(ngModel)]="college" name="college" (ngModelChange)="getCollegeCourseDetails($event)">
								<mat-option *ngFor="let college of collegeList" [value]="college.name">
									{{college.name}}
								</mat-option>
							</mat-select>
						</mat-form-field>
					</div>
					<!-- <div *ngIf="pieData == 1"> 
						<canvas
							baseChart
							[chartType]="'pie'"
							[datasets]="pieChartData"
							[labels]="pieChartLabels"
							[options]="pieChartOptions"
							[legend]="true"
							[colors]="pieChartColor">
						</canvas>
					</div> -->
					<div class="wrapper" *ngIf="pieData == 1">
						<h5><b>Total Count:</b></h5>{{collegeData?.length}}
						<div class="Rtable Rtable--5cols Rtable--collapse">
							<div class="Rtable-row Rtable-row--head">
								<div class="Rtable-cell topic-cell column-heading">Email</div>
								<div class="Rtable-cell date-cell column-heading">Contact No</div>
								<div class="Rtable-cell date-cell column-heading">Course</div>
								<div class="Rtable-cell date-cell column-heading">Country</div>
								<div class="Rtable-cell date-cell column-heading">Visits Count</div>
							</div>
							
							<div class="Rtable-row is-striped" *ngFor="let visit of collegeData | filter:{user_email:filterText,user_mobile:filterText,course:filterText,country:filterText,visit_count:filterText} | paginate: { itemsPerPage: 10, currentPage: p }">
								<div class="Rtable-cell topic-cell">
									<div class="Rtable-cell--content title-content">{{visit.user_email}}</div>
								</div>
								<div class="Rtable-cell date-cell">
									<div class="Rtable-cell--heading">Contact No</div>
									<div class="Rtable-cell--content date-content">+{{visit.user_mobile_country_code}}{{visit.user_mobile}}</div>
								</div>
								<div class="Rtable-cell date-cell">
									<div class="Rtable-cell--heading">Course</div>
									<div class="Rtable-cell--content date-content">{{visit.course}}</div>
								</div>
								<div class="Rtable-cell date-cell">
									<div class="Rtable-cell--heading">Country</div>
									<div class="Rtable-cell--content date-content">{{visit.country}}</div>
								</div>
								<div class="Rtable-cell date-cell">
									<div class="Rtable-cell--heading">Visits Count</div>
									<div class="Rtable-cell--content date-content">{{visit.visit_count}}</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</p-tabPanel>
		</p-tabView>    
	</nb-card-body>
</nb-card>
	