@import "~@angular/material/prebuilt-themes/indigo-pink.css";

$breakpoint: 750px;
$heading-color: #43BAC0;

* {
  box-sizing: border-box;
}

.wrapper {
  width: 100%;
  max-width: 1500px;
  // margin: 1em auto;
  padding: 1em;
}

.is-striped { background-color: rgba(233,200,147,0.2) }


/* Table column sizing
================================== */
.date-cell  { width: 20%; }
.info-cell  { width: 5%; }
.topic-cell  { width: 31%; }
.access-link-cell  { width: 13%; }
.replay-link-cell  { width: 13%; }
.pdf-cell  { width: 13%; }

/* Apply styles
================================== */
.Rtable {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 3em 0;
  padding: 0;
  box-shadow: 0 0 40px rgba(0,0,0,0.2);
  
  .Rtable-row {
    width: 100%;
    display: flex;
    
    .Rtable-cell {
      box-sizing: border-box;
      flex-grow: 1;
      padding: 0.8em 1.2em;
      overflow: hidden; // Or flex might break
      list-style: none;

      &.column-heading {
        background-color: $heading-color;
        color: white;
        padding: 1em;
      }

      .Rtable-cell--heading {
        display: none;
      }

      .Rtable-cell--content {
        a {
          // font-size: 2em;
          color: #333;
        }
        
        .webinar-date {
          font-weight: 700;
        }
      }
    }
  }
}

/* Responsive
==================================== */
@media all and (max-width: $breakpoint) {
  .is-striped {
    background-color: white;
	}


	
	.wrapper {
		padding: 0.1em;
	}
  
  .Rtable--collapse  {
    display: block;
    width: 100%;
    padding: 0.5em;
    box-shadow: none;
    
    .Rtable-row {
      box-sizing: border-box;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 2em;
			box-shadow: 0 0 40px rgba(0,0,0,0.2);
			font-size: 12px;
      
      .Rtable-cell {
        width: 100% !important;
        display: flex;
        align-items: center;

        .Rtable-cell--heading {
          display: inline-block;
          flex: 1;
          max-width: 120px;
					// min-width: 120px;
					 min-width: 60px;
          color: $heading-color;
          // font-weight: 700;
          border-right: 1px solid #ccc;
					margin-right: 1em;
        }

        .Rtable-cell--content {
          flex: 2;
          // padding-left: 1em;
        }
      }
    }
    
    .topic-cell {
      background-color: $heading-color;
      color: white;
      font-weight: 700;
      order: -1;
      
      .Rtable-cell--content {
        padding-left: 0 !important;
      }
    }
    
    .Rtable-row--head {
      display: none;
    }
  }
}

// Non-Flex modernizer fallback
.no-flexbox .Rtable {
  display: block;
  
  &.Rtable-cell {
    width: 100%;
  }
}

.example-container {
    height: 400px;
    overflow: auto;
  }
table {
    width: 100%;
  }
  .example-full-width {
    width: 50%;
  }
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

  .allDetails{
    font-size:12px;
    color:#000;
    padding-top: 9px;
    padding-bottom: 9px;
    font-family: 'lato-Regular';
    word-wrap: break-word; 
  }

  .widthCol06{
    float: left;
    width: 6%;
    padding: 13px 13px 20px 8px;
    min-height: 1px;
    position: relative;
  }

  .widthCol07{
    float: left;
    width: 7%;
    padding: 13px 13px 20px 8px;
    min-height: 1px;
    position: relative;
  }

  .widthCol08{
    float: left;
    width: 8%;
    padding: 13px 13px 20px 8px;
    min-height: 1px;
    position: relative;
  }

  .widthCol10{
    float: left;
    width: 10%;
    padding: 13px 13px 20px 8px;
    min-height: 1px;
    position: relative;
  }

  .noPadLeft{
    padding-left:0 !important;
  }
  .text-center{
    text-align: center;
    text-align: -moz-center;
    text-align: -webkit-center;
  }
  .widthCol102{
    float: left;
    width: 14%;
    padding: 13px 13px 20px 8px;
    min-height: 1px;
    position: relative;
  }

  .widthCol13{
    float: left;
    width: 13%;
    padding: 13px 13px 20px 30px;
    min-height: 1px;
    position: relative;
  }

  .widthCol16{
    float: left;
    width: 16%;
    padding: 13px 13px 20px 30px;
    min-height: 1px;
    position: relative;
  }
  
  .cStnd{
    font-size: 14px;
    font-weight: 900;
  }